.progress{
    display: flex;
    justify-content: center;
    margin: 1.4rem 0 0 0;
    padding: 0 32px;
}
.progress img{
    width: 80%;
}

@media screen and (min-width:769px){
    .progress img{
        width: auto;
    }
  }